---
layout: default
---

<div id="home">
  <p>Shadowburn Project is an <a href="https://gitlab.com/shadowburn">open source</a> core for Vanilla private servers.</p>
  <p>It is written in <a href="https://elixir-lang.org/">Elixir</a> and is being built to be distributed, fault-tolerant, and fast.</p>
  <p>If you have any questions or want to help out, <a href="https://discord.gg/bXgPxn2">join the discord</a>.</p>

  <h1>Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
